<nav
  class="navbar sticky-top navbar-dark"
  style="background-color: var(--bg-blue);"
>
  <a
    class="navbar-brand"
    href="#"
  >
    <button
      class="navbar-toggler"
      type="button"
      (click)="showMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="inviLogo">INVI</span>
  </a>
  <form class="form-inline ml-auto">
    <a
      class="removeBtn"
      (click)="changeRemoveMode(true)"
      *ngIf="!removeMode"
    >
      <fa-icon [icon]="faMinusCircle"></fa-icon>
    </a>
    <a
      class="btn btn-sm btn-light raBtn"
      (click)="removeAll()"
      *ngIf="removeMode"
    >
      REMOVE ALL
    </a>
    <a
      class="btn btn-sm btn-light backBtn"
      (click)="changeRemoveMode(false)"
      *ngIf="removeMode"
    >
      BACK
    </a>
  </form>
</nav>
