<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ilRow itemRow">
      <div class="contentRow">
        <div class="itemName">{{item.name}}</div>
        <div class="editBtnContainer">
          <a
            class="editBtn"
            (click)="editItem()"
            *ngIf="!removeMode"
          >
            <fa-icon [icon]="faPen"></fa-icon>
          </a>
          <a
            class="remBtn"
            (click)="removeItem()"
            *ngIf="removeMode"
          >
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </a>
        </div>
      </div>
      <div class="contentRow">
        <div class="qty"><strong>{{item.quantity}} {{item.unit}}</strong> x&nbsp;<strong>${{item.price}}</strong><span *ngIf="item.discount"> -&nbsp;<strong>${{item.discount}}</strong></span></div>
        <div class="fPrice"><strong>${{item.Total()}}</strong></div>
      </div>
    </div>
  </div>
</div>
