<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ilRow itemRow">
      <div class="contentRow">
        <div class="itemName">{{item.name}}</div>
        <div class="editBtnContainer">
          <a
            class="editBtn"
            (click)="editItem($event)"
            *ngIf="!removeMode"
          >
            <fa-icon [icon]="faPen"></fa-icon>
          </a>
          <a
            class="remBtn"
            (click)="editItem($event)"
            *ngIf="removeMode"
          >
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </a>
        </div>
      </div>
      <div class="contentRow">
        <div class="qty"><span *ngIf="!item.unit">Qty: </span><strong>{{item.quantity}}</strong> {{item.unit}}</div>
        <div class="fPrice">$<strong>{{item.Total()}}</strong></div>
      </div>
    </div>
  </div>
</div>
